header{
    nav{
        .nav-letter{
            color: white;
        }
        ul li a{
            color: white;
        }
    }
}
body{
    .h1{
        color: black;
    }
    .p1{
        color: black;
    }
}
footer{
    .logfoot{
        font-size: 20px;
        color: white;
    }
    a{
        .buttonindex{
            color: black;
            font-weight: bold;
        }
    }
}