@import "estructura";
@import "tipografia";

header{
    nav{
        .nav-letter{
            color:white;
            font-size:25px;
            font-weight: bold;
        }
        ul li a{
            .nav-letter{
                color: white;
                font-size: 25px;
            }
        }
    }
}

body{
    .h1{
        color: black;
        font-weight: bolder;
        font-size: 40px;
        text-align: center;
    }
    .p1{
        background-color: rgba(0, 0, 0, 0.432);
        font-size: 25px;
        color:white;
        border-radius: 10px;
    }
}

footer{
        background-color:  #141414c4;
        text-align: center;
        margin-top: 10px;
    }
    .logfoot{
        font-size: 20px;
        color: white;
        align-items: center;
    }
    
    a{
        .buttonindex{
            color: black;
            font-weight: bold;
            align-items: center;
    }
        }
    

$btn:
(Klose: red, Pele:green, Maradona:blue, Zidane:grey);
@each $clave, $valor in $btn{
    .btn-#{$clave}{
        color: white;
        background-color: $valor; 
    }
}

.h1M{
    background-color: rgba(255, 217, 0, 0.774);
    color: black;
    font-weight: bold;
    font-family: Titillium Web;
    font-size: 30px;
    text-align: center;
}

.h2M{
    @extend.h1M;
    background-color: rgba(255, 255, 255, 0.829);
    color: red;
}

@mixin textcards {
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.text1{
    @include textcards;
}

@mixin players {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration:underline;
    text-decoration-color: red;
}
.text-p{
    @include players;
}

@mixin textcards2{
    color: rgb(17, 0, 0);
    font-size:25px;
    font-weight: bold;
}
.history-text{
    @include textcards2;
}
.title-h{
    background-color: gold;
    color: black;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

table{
    background-color: rgba(238, 227, 227, 0.678);
    text-align: center;
}
th,td{
    border: solid 2px black;
    padding: 5px;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3px;
}
thead{
    background-color: rgba(255, 217, 0, 0.801);
    color: black;
}
.carrusel{
    background-color: black;
    color:gold;
    font-weight: bold;
    font-size: 20px;
}
.text-exp{
    color:white;
    font-size: 20px;
    font-weight: bold;
}
@mixin experiencia{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: underline;
}
.text-exp2{
    @include experiencia;
}
.botonexp{
    color: black;
    font-weight: bold;
}